# To activate, change the Appveyor settings to use `.appveyor.yml`.
environment:
  global:
    PATH: "C:\\Python27\\Scripts\\;%PATH%"
  matrix:
    - TOXENV: py36-base
    - TOXENV: py36-optional
    - TOXENV: py37-base
    - TOXENV: py37-optional
    - TOXENV: py38-base
    - TOXENV: py38-optional

install:
  - git submodule update --init --recursive
  - python -m pip install tox

build: off

test_script:
  - tox

after_test:
  - python debug-info.py
