image: Visual Studio 2019
environment:
  global:
    PATH: "C:\\Python27\\Scripts\\;%PATH%"
  matrix:
    - TOXENV: py27-base
    - TOXENV: py27-optional
    - TOXENV: py35-base
    - TOXENV: py35-optional
    - TOXENV: py36-base
    - TOXENV: py36-optional
    - TOXENV: py37-base
    - TOXENV: py37-optional
    - TOXENV: py38-base
    - TOXENV: py38-optional
    - TOXENV: py39-base
    - TOXENV: py39-optional
    - TOXENV: py310-base
    - TOXENV: py310-optional

install:
  - git submodule update --init --recursive
  - python -m pip install tox

build: off

test_script:
  - tox

after_test:
  - python debug-info.py
