language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "pypy"

before_install:
  - git submodule update --init --recursive

install:
  - pip install -r requirements.txt -r requirements-test.txt --use-mirrors

script:
  - nosetests