-r requirements.txt

# We support a Genshi treewalker that can be used to serialize Genshi
# streams.
genshi

# charade can be used as a fallback in case we are unable to determine
# the encoding of a document.
charade

# lxml is supported with its own treebuilder ("lxml") and otherwise
# uses the standard ElementTree support
lxml ; platform_python_implementation == 'CPython'

# DATrie can be used in place of our Python trie implementation for
# slightly better parsing performance.
datrie ; platform_python_implementation == 'CPython'

# Can be used to force attributes to be serialized in alphabetical
# order.
ordereddict ; python_version < '2.7'
