-r requirements.txt

flake8<3.0
flake8-docstrings
flake8-string-format
flake8-future-import
flake8-debugger
flake8-print
hacking
flake8-tuple
flake8-dodgy
ebb-lint ; python_version > '2.6'

pylint ; python_version > '2.6'
pylint<1.4 ; python_version <= '2.6'
astroid<1.3.6 ; python_version <= '2.6'

pytest
pytest-expect>=1.1,<2.0
mock
